.painelProcess{
    margin-left: 10px; 
    padding-bottom: 10px;
}

.painelProcess p{
    color: white;
    font-size:small;
}

.infoProcess{
    color: white;
    border: 1px solid white; 
    background-color: transparent;
     border-radius: 4px; 
     margin-top: 10px; 
     margin-right: 10px;
     padding:5px;
     text-align: center;
     
}
