<po-loading-overlay *ngIf="loadTela===true" [p-text]="labelLoadTela" [p-screen-lock]="true"></po-loading-overlay>

<div class="cabec">
  <div class="origem">
    <po-combo [ngModel]="codEstabel" [p-options]="listaEstabelecimentos" p-label="Estabelecimento Origem"
      style="min-width: 400px;" [(ngModel)]="codEstabel" (p-change)="onEstabChange($event)" p-icon="bi bi-pin-map"
      p-placeholder="Selecione o estabelecimento" p-clean="true">
      <ng-template p-combo-option-template let-option>
        <div class="po-row">
          <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-pin-map"></po-icon>
          <div class="po-sm-10 po-md-9 po-lg-11">
            <div class="po-font-text-large-bold">{{ option.label }}</div>
            <div class="po-font-text-smaller">Filial: {{ option.codFilial }}</div>
          </div>
        </div>
      </ng-template>
    </po-combo>

    <po-combo p-label="Técnico Origem" [ngModel]="codTecnicoOri" p-icon="bi bi-person-workspace"
      style="min-width: 400px;" [(ngModel)]="codTecnicoOri" [p-options]="listaTecnicos" [p-placeholder]="loadTecnico"
      [p-clean]="true">
      <ng-template p-combo-option-template let-option>
        <div class="po-row">
          <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-person-workspace"></po-icon>
          <div class="po-sm-10 po-md-9 po-lg-11">
            <div class="po-font-text-large-bold">{{ option.label }}</div>
            <div class="po-font-text-smaller">Técnico: {{ option.value }}</div>
          </div>
        </div>
      </ng-template>
    </po-combo>

    <po-button p-icon="bi bi-check2-circle" p-label="Selecionar" (p-click)="onSelecionar()" p-kind="primary" style="margin-top: 24px;"></po-button>
  </div>
</div>


<div class="grid">
  <po-table #grid2  [p-items]="listaDados"
                   [p-columns]="colunas" 
                   [p-striped]="true" 
                   p-sort="true" 
                 
                   [p-hide-table-search]="false" 
                   [p-hide-columns-manager]="true" 
                   p-container="true" 
                   [p-sort]="true"
                   [p-literals]="customLiterals" 
                   [p-height]="alturaGrid" >
          <ng-template p-table-cell-template let-column="column" let-row="row">
           @if(column.property === 'qt-troca' && row['qt-troca'] >= 0){
            @if(row['qt-troca'] > 0){
              <h4 style="background-color: #D7F0FE; text-align: center;">{{row['qt-troca']}}</h4>
            }
            @if(row['qt-troca'] === 0){
              <h4 style="background-color: #D7F0FE; color: white; text-align: center;">{{row['qt-troca']}}</h4>
            }
            
           } 
          

           @if(column.property === 'opcao'){
            <div class="menuGrid">
              <div><button class="btn"  (click)="onSolicitarQuantidade(row)"><p><i class="bi bi-person-up"></i> Solicitar</p></button></div>
              <div><button class="btn"  (click)="onCancelarQuantidade(row)"><p><i class="bi bi-x-square"></i> Cancelar</p></button></div>
            </div>
           } 
          
        </ng-template>
  </po-table>

  @if(this.temTroca){
    <div class="rodape">
      <p class="totalItem" style="background-color: #D7F0FE">Total de Itens: <b>{{this.qtTotal}}</b></p>
      <div class="destino"><span>Destino: &nbsp; </span>
        <po-combo [ngModel]="codTecnicoDest" p-icon="bi bi-person-workspace"
          [(ngModel)]="codTecnicoDest" style="min-width: 350px;" [p-options]="listaTecnicos" [p-placeholder]="loadTecnico"
          [p-clean]="true">
          <ng-template p-combo-option-template let-option>
            <div class="po-row">
              <po-icon class="po-sm-2 po-md-3 po-lg-1" p-size="sm" p-icon="bi bi-person-workspace"></po-icon>
              <div class="po-sm-10 po-md-9 po-lg-11">
                <div class="po-font-text-large-bold">{{ option.label }}</div>
                <div class="po-font-text-smaller">Técnico: {{ option.value }}</div>
              </div>
            </div>
          </ng-template>
        </po-combo>
        <po-button p-icon="bi bi-check2-all" p-label="Executar Troca" (p-click)="onExecutar()" p-kind="primary"
        ></po-button>
      </div>
      <p class="totalItem" style="background-color: #D7F0FE">Empréstimos: <b> {{this.qtEmprestimos}}</b></p>
    </div>
    }
</div>

<po-modal #telaTroca p-title="Digite a quantidade para empréstimo"
                              p-size="auto" 
                              p-click-out="false" 
                              [p-hide-close]="true"
                              [p-primary-action]="acaoAlterarOrdem" 
                              [p-secondary-action]="acaoCancelarOrdem">
      <form [formGroup]="formTroca">
        <div class="po-md-6"><po-number name="qt-troca" formControlName="qt-troca" p-label="Quantidade" p-step="1" [p-min]="0"></po-number></div>
      </form>
  </po-modal>